<article id="Education">
	<div class="Education_button">
		<h2 >Education</h2>
	</div>
	<div class="Education_content">

		<div class="ribbon">
			<h3 >
				<strong class="ribbon-content">Training Ruby on Rails(6 months)</strong>
			</h3>
			<p>with : <a href="http://simplon.co/" target="_blank">simplonco</a> </p>			
		</div>

		<div class="ribbon">
			<h3 >
				<strong class="ribbon-content">Master degree EPITECH 5th years</strong>
			</h3>
			<p>France Paris Software engineering</p>			
		</div>

		<div class="ribbon">
			<h3 >
				<strong class="ribbon-content">EPITECH 4th years</strong>
			</h3>
			<p>China beijing jiaotong university</p>			
		</div>


		<div class="ribbon">
			<h3 >
				<strong class="ribbon-content">Ruby on Rails corporate Training</strong>
			</h3>
			<p>with : <a href="http://formations.humancoders.com/formations/ruby-on-rails" target="_blank">humancodres</a></p>
		</div>


		<div class="ribbon">
			<h3 >
				<strong class="ribbon-content">Agile methodologies corporate Training</strong>
			</h3>
			<p>with : <a href="http://agilidee.com" target="_blank">Agilidee</a></p>

		</div>


		<div class="ribbon">
			<h3 >
				<strong class="ribbon-content">Bachelor EPITECH 3 years</strong>
			</h3>
				<p>France Marseille Software engineering</p>
		</div>


		<div class="ribbon">
			<h3 >
   				<strong class="ribbon-content">Costebelle high school</strong>
			</h3>
				<p>France Network Installation and Maintenance</p>
		</div>
	</div>
</article> 