	<article id="experience">
		<div class="experience_button">
			<h2 >Experience</h2>
		</div>

			<div class="wrapper_experience">
				<div class="item_experience">
					<a href="http://www.arizuka.com/" target="_blank"><h3>Arizuka</h3></a>
					<p>Crowdfunding web site</p>
					<p>Developer Ruby on Rails</p>

				</div>
			</div>

			<div class="wrapper_experience">
				<div class="item_experience">
					<a href="http://catwalk-bidder.herokuapp.com" target="_blank"><h3>Catwalk Bidder</h3></a>
					<p>Web site using “penny auction” on luxury products</p>
					<p>Developer Ruby on Rails</p>
				</div>
			</div>

			<div class="wrapper_experience">
				<div class="item_experience">
					<a href="http://pushcontact.herokuapp.com/" target="_blank"><h3>pushContact</h3></a>
					<p>smart contact manager</p>
					<p>Developer Ruby on Rails</p>
				</div>
			</div>
			<div class="wrapper_experience">
				<div class="item_experience">
					<a href="http://signup.wikitrip.com/" target="_blank"><h3>Wikitrip</h3></a>
					<p>Social network to help the backpackers community</p>
					<p>Developer Ruby on Rails</p>
				</div>
			</div>

			<div class="wrapper_experience">
				<div class="item_experience">
					<a href="http://step2step.herokuapp.com/" target="_blank"><h3>Step 2 Step</h3></a>
					<p>application of counter step</p>
					<p>lead developer Ruby on Rails</p>
				</div>
			</div>

			<div class="wrapper_experience">
				<div class="item_experience">
					<h3>PopWings</h3>
					<p>new business card solution(using NFC)</p>
					<p>Developer Ruby on Rails</p>
				</div>
			</div>

	</article>