<div class="item_timeline_about_me">
	<h3>Skills</h3>
	<div class="skill">
		<span class="item_skill">
			<p>C</p>
			<canvas id="myChart_c" width="100" height="100"></canvas> 
		</span>

		<span class="item_skill">
			<p>C++</p>
			<canvas id="myChart_cpp" width="100" height="100"></canvas>
		</span>

		<span class="item_skill">
			<p>HTML5</p>
			<canvas id="myChart_html5" width="100" height="100"></canvas>
		</span>	

		<span class="item_skill">
			<p>CSS3</p>
			<canvas id="myChart_css3" width="100" height="100"></canvas>
		</span>

		<span class="item_skill">
			<p>JavaScript</p>
			<canvas id="myChart_javascript" width="100" height="100"></canvas>
		</span>


		<span class="item_skill">
			<p>Ruby</p>
			<canvas id="myChart_ruby" width="100" height="100"></canvas>
		</span>

		<span class="item_skill">
			<p>Scrum</p>
			<canvas id="myChart_scrum" width="100" height="100"></canvas>
		</span>
						
		<span class="item_skill">
			<p>Ruby on Rails</p>
			<canvas id="myChart_ror" width="100" height="100"></canvas>
		</span>
	</div>
</div>