<div class="item_timeline_about_me">
	<h3>Tools and Gems</h3>
	<div class="skill">
		<span class="item_skill">
			<p class="demo-pricing  demo-pricing-2">Rspec</p>
		</span>
		<span class="item_skill">
			<p class="demo-pricing demo-pricing-2">vagrant</p>
		</span>
		<span class="item_skill">
			<p class="demo-pricing demo-pricing-2">FactoryGirl</p>
		</span>		
		<span class="item_skill">
			<p class="demo-pricing demo-pricing-2">webosocket-rails</p>
		</span>
		<span class="item_skill">
			<p class="demo-pricing demo-pricing-2">Facebook api</p>
		</span>
		<span class="item_skill">
			<p class="demo-pricing demo-pricing-2">Twitter api</p>
		</span>
		<span class="item_skill">
			<p class="demo-pricing demo-pricing-2">JQuery</p>
		</span>
		<span class="item_skill">
			<p class="demo-pricing demo-pricing-2">Git</p>
		</span>
		<span class="item_skill">
			<p class="demo-pricing demo-pricing-2">Github</p>
		</span>		
	</div>
</div>