/*
*  Simple elastic gutters
*  Note: box-sizing WILL work in IE6-7
*/

@font-face {
    font-family: 'OpenSansBold';
    src: url('open-sans-fontfacekit/OpenSans-Bold-webfont.eot') format('eot'),
         url('open-sans-fontfacekit/OpenSans-Bold-webfont.woff') format('woff'),
         url('open-sans-fontfacekit/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('open-sans-fontfacekit/OpenSans-Bold-webfont.svg') format('svg');
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('open-sans-fontfacekit/OpenSans-Light-webfont.eot') format('eot'),
         url('open-sans-fontfacekit/OpenSans-Light-webfont.woff') format('woff'),
         url('open-sans-fontfacekit/OpenSans-Light-webfont.ttf') format('truetype'),
         url('open-sans-fontfacekit/OpenSans-Light-webfont.svg') format('svg');
}


h1,h2,h3
{
	font-family:  "OpenSansBold",Helvetica,Arial,sans-serif;
	margin-bottom: 0;
/*	color: #c0392b;*/
	color: #bdc3c7;
/*	text-transform: uppercase;*/
}

header h1, header h2,  header h3
{
	color: white;
}


body
{
/*	background-color: #EFEDB2;*/
	background: url("black-linen.png");
	font-family: "OpenSansLight",Helvetica,Arial,sans-serif;
}


header
{
	width: 100%;
    margin-left: 0;
	color:#fff;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	height: 100%;
	padding-top: 200px;
	padding-bottom: 200px;
	margin-padding: 20%;

	background: url("DSC00959.JPG") no-repeat top center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

header article
{
	width :35%;
	text-align: left;
	margin-left: 55%;
	background: rgba(0,0, 0,0.6);
	padding: 20px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	color: rgba(241, 196, 15,1.0);
	color: #f1c40f;
	font-size: 1.5em;
	line-height: 32px;
}

header article h1, header article h2
{
	color:	rgba(211, 84, 0,1.0);
}

article
{
	box-sizing: border-box;
    width: 90%;
    margin-left: 5%;
    padding: 0 0.75em;
}

article.in_development h2
{
	width: 15%;
	background-color: #f1c40f;
	text-align: center;
	border-radius: 3px;

}


#Education
{
/*	background: #c0392b;*/
}

#Education h2, #experience h2
{
	text-align: center;
	margin-bottom: 3%;
	font-size: 3.3em;
	border-bottom: solid;
	border-color: #c0392b;
}


.ribbon
{
	background: white;
	box-shadow: 2px 2px 2px rgba(0, 0,0,0.6);
	border-radius: 3px;	
	width: 30%;
	display: inline-block;
	margin-left: 13%;
	margin-bottom: 10%;
	vertical-align: top;
	text-align: center;
}

.ribbon h3
{
	 font-size: 18px !important;
	 position: relative;
/*	 background: #3498db;*/
	 background: rgba(226, 113, 39, 0.94);
	 color: #fff;
	 text-align: center;
	 padding: 1em 2em; /* Adjust to suit */
	 margin: 2em auto 1em; 
 	 left : -17px;
  	 margin-right: -35px;
 }


.ribbon h3:before, .ribbon h3:after 
{
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 /*border: 1.5em solid #986794;*/
 border: 1.5em solid #d35400;
 z-index: -1;
}


.ribbon h3:before 
{
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;

}

.ribbon h3:after 
{
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}

.ribbon h3 .ribbon-content:before, .ribbon h3 .ribbon-content:after 
{
 content: "";
 position: absolute;
 display: block;
 border-style: solid; 
 border-color: #EFEDB2 transparent transparent transparent;
 border-color: #EFEDB2 transparent transparent transparent;
 bottom: -1em;
}

.ribbon h3 .ribbon-content:before 
{
 left: 0;
 border-width: 1em 0 0 1em;
}

.ribbon h3 .ribbon-content:after 
{
 right: 0;
 border-width: 1em 1em 0 0;
}

.ribbon .ribbon-content
{
	vertical-align: top;
}

.ribbon  p
{
	padding-bottom: 1em;
	font-size: 1.3em;
	padding-left: 1em;
	padding-right: 1em;
}

.item_experience
{
	margin-left: 37%;
	text-align: center;
	display: inline-block;
	background: url("note.png");
	width: 307px;
	height: 183px;
	border-radius: 4px;
	box-shadow: 2px 2px 2px rgba(0, 0,0,0.6);
	vertical-align: top;
	margin: 20px;
}

.item_experience h3
{
	margin-top: 30px;
	font-size: 2.3em;
	text-align: center;
	color: #d35400;
}

.item_experience p
{
	text-align: center;
}

.experience_top
{
	margin-left: 25%;
}

.experience_bottom
{
	margin-left: 13%;
}

#experience
{
	margin-bottom: 10%;
	margin-top: 10%;
	vertical-align: top;
}

.content_footer
{
	display: inline-block;
	vertical-align: top;
	margin-left: 10%;
	text-align: center;
}

footer
{
	background:#3f4944;
	color:#bfbeb2;
}

.mes_amis
{
	margin-left: 10%;
}

.amis_photo
{
	width:100%;
	height:100%;
}

#myCarousel
{
	width: 240px;
	height: 300px;
	border-radius: 3px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);	
	margin-left: 19%;
}

#photo_mentor
{
	width: 300px;
	height: 300px;
	border-radius: 3px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#profile
{
	width: 400px;
	height: 200px;	
}

.item_timeline_about_me
{
	/*display: inline-block;	*/
	vertical-align: top;
	padding: 15px;
	margin-left: 10%;
	margin-bottom: 5%;
}


.social_icon, .cv_pdf
{


}

.social_icon img
{
	width : 128px;
	margin: 20px;
	border-radius: 3px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.social_icon img:hover
{
	opacity: 0.8;
}

social_icon p
{
	display: inline-block;
}



.item_skill
{
	display: inline-block;
	margin-right: 2%;
	color: #f1c40f;
	text-align: center;
}


    /* Règles CSS pour les mobiles ici */


@media all and (max-width: 1024px)
{
	.ribbon
	{
		background: white;
		box-shadow: 2px 2px 2px rgba(0, 0,0,0.6);
		border-radius: 3px;	
		width: 30%;
		display: inline-block;
		margin-left: 13%;
		margin-bottom: 10%;
		vertical-align: top;
		text-align: center;
	}

	.ribbon h3
	{
		 font-size: 18px !important;
		 position: relative;
	/*	 background: #3498db;*/
		 background: rgba(226, 113, 39, 0.94);
		 color: #fff;
		 text-align: center;
		 padding: 1em 2em; /* Adjust to suit */
		 margin: 2em auto 1em; 
	 	 left : -17px;
	  	 margin-right: -35px;
	 }


	.ribbon h3:before, .ribbon h3:after 
	{
	/*	 
	content: "";
	 position: absolute;
	 display: block;
	 bottom: -1em;
	 border: 1.5em solid #986794;
	 border: 1.5em solid #d35400;
	 z-index: -1;
	 */
	}


	.ribbon h3:before 
	{
	/* left: -2em;
	 border-right-width: 1.5em;
	 border-left-color: transparent;*/

	}

	.ribbon h3:after 
	{
/*	 right: -2em;
	 border-left-width: 1.5em;
	 border-right-color: transparent;*/
	}

	.ribbon h3 .ribbon-content:before, .ribbon h3 .ribbon-content:after 
	{
	 /*content: "";
	 position: absolute;
	 display: block;
	 border-style: solid; 
	 border-color: #EFEDB2 transparent transparent transparent;
	 border-color: #EFEDB2 transparent transparent transparent;
	 bottom: -1em;*/
	}

	.ribbon h3 .ribbon-content:before 
	{
	 /*left: 0;
	 border-width: 1em 0 0 1em;*/
	}

	.ribbon h3 .ribbon-content:after 
	{
	 /*right: 0;
	 border-width: 1em 1em 0 0;*/
	}

	.ribbon .ribbon-content
	{
		vertical-align: top;
	}

	.ribbon  p
	{
		padding-bottom: 1em;
		font-size: 1.3em;
		padding-left: 1em;
		padding-right: 1em;
	}
}